$bodyColor: white;
$sidebarColor: #113F70;
$sidebarElementColor: #185CA3;
$sidebarTextColor: white;

$bodyElementColor: #fff;
$bodyElementTextColor: black;

$bg-main: #185CA3;
$bg-secondary: #5080B3;
$shadow: #113F70;